@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
        <tfoot>
            @for (var i = 0; i < forecasts.Count(); i++)
            {
                <tr>
                    <td>@forecasts[i].Date.ToShortDateString()</td>
                    <td>@forecasts[i].TemperatureC</td>
                    <td>@forecasts[i].TemperatureF</td>
                    <td>@forecasts[i].Summary</td>
                </tr>
            }
        </tfoot>
    </table>

    @while (i < forecasts.Count())
    {
        <div>@forecasts[i].Summary</div>
        i++;

        forecasts.Count();
    }

    i = 0;
}


